dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
**/node_modules/
backups/**

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignores
db-data/

# System Files
.DS_Store
Thumbs.db
.cache/

requirements/.obsidian/**


.claude/
.serena/
.specify/
CALUDE.md
GEMINI.md
playwright-report/
test-results/

# PGlite
.data/

# Python
__pycache__/
*.pyc
public/docs/

# Config
config.json
